body {
  background-color: bisque;
  font-size: small;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
}

header,
footer {
  background-color: ghostwhite;
  padding: 20px;
}
